[user]
	name = SirGregoryK
	email = sirgregoryk@mail.ru
	signingkey = BDA520B1DC4B4BE8
[core]
[url "https://aur.archlinux.org/"]
	insteadOf = aur://
	pushInsteadOf = aur://
[url "https://github.com/"]
	insteadOf = gh://
	pushInsteadOf = gh://
[url "https://gitlab.com/"]
	insteadOf = gl://
	PushInsteadOf = gl://
[url "https://gitgud.io/"]
	insteadOf = gg://
	PushInsteadOf = gg://
