[user]
	name = SirGregoryK
	email = sirgregoryk@mail.ru
	signingkey = 23D186954782E2FC
[core]
[url "https://aur.archlinux.org/"]
	insteadOf = aur://
	pushInsteadOf = aur://
[url "https://github.com/"]
	insteadOf = gh://
	pushInsteadOf = gh://
[url "https://gitlab.com/"]
	insteadOf = gl://
	PushInsteadOf = gl://
[url "https://gitgud.io/"]
	insteadOf = gg://
	PushInsteadOf = gg://
[core]
	autocrlf = input
