[user]
	name = SirGregoryK
	email = sirgregoryk@mail.ru
	signingkey = BA5D95307357B4B0
[core]
[url "https://aur.archlinux.org/"]
	insteadOf = aur://
	pushInsteadOf = aur://
[url "https://github.com/"]
	insteadOf = gh://
	pushInsteadOf = gh://
[url "https://gitlab.com/"]
	insteadOf = gl://
	PushInsteadOf = gl://
[url "https://gitgud.io/"]
	insteadOf = gg://
	PushInsteadOf = gg://
[core]
	autocrlf = input
[color]
	ui = auto
[diff]
	mnemonicprefix = true
[rerere]
	enabled = true
[credential]
	helper = cache --timeout=7200
